@model IEnumerable<Service.EntityModel.PhongThaoLuan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



        <div class='col-xs-12'>
            <div class="page-title">

                <div class="pull-left">
                    <!-- PAGE HEADING TAG - START --><h1 class="title">Chat Room List</h1><!-- PAGE HEADING TAG - END -->
                </div>

                <div class="pull-right hidden-xs">
                    <ol class="breadcrumb">
                        <li>
                            <a href="@Url.Action("Index","Home")"><i class="fa fa-home"></i>Home</a>
                        </li>
                        <li>
                            <a>Chat Room List</a>
                        </li>
                    </ol>
                </div>

            </div>
        </div>
        <div class="clearfix"></div>
        <!-- MAIN CONTENT AREA STARTS -->

        <div class="col-lg-12">
            <section class="box ">
                <header class="panel_header">
                    <h2 class="title pull-left"></h2>
                    <div class="actions panel_actions pull-right">
                        <a class="btn btn-success" href="@Url.Action("Create","PhongChat")">Create</a>
                        <a class="box_toggle fa fa-chevron-down"></a>
                        @*<a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>*@
                        @*<a class="box_close fa fa-times"></a>*@
                    </div>
                </header>
                <div class="content-body">
                    <div class="row">
                        <div class="col-xs-12">


                            <table id="example-1" class="table table-striped dt-responsive display">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Type of room</th>
                                        <th>Created</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>

                                @*<tfoot>
                                        <tr>
                                            <th>Name</th>
                                            <th>Position</th>
                                            <th>Office</th>
                                            <th>Age</th>
                                            <th>Start date</th>
                                            <th>Salary</th>
                                        </tr>
                                    </tfoot>*@

                                <tbody>
                                    @foreach (var item in Model.ToList())
                                    {
                                        <tr>
                                            <td>@item.TenPhong</td>
                                            <td>@item.LoaiPhongThaoLuan.TenLoaiPhong</td>
                                            <td>@item.NgayTao</td>
                                            <td style="white-space: nowrap">
                                                <!-- form -->
                                                <div class="buttons">
                                                    @*<a class="btn btn-success" href="@Url.Action("View","BacSi",new {id=@item.id })">View Detail</a>*@
                                                    <a class="btn btn-info" href="@Url.Action("Edit","PhongChat",new {id=@item.id })">Edit</a>
                                                    <button type="button" class="btn btn-danger" onclick="DeleteBaiViet('@Html.Raw(@item.TenPhong)',@item.id,this)">Delete</button>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>




                        </div>
                    </div>
                </div>
            </section>
        </div>

        @Html.AntiForgeryToken()

        <!-- MAIN CONTENT AREA ENDS -->


@section style{

}
@section script{

    <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->

    <script src="~/Areas/Admin/assets/plugins/datatables/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/assets/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/assets/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/assets/plugins/datatables/extensions/Responsive/bootstrap/3/dataTables.bootstrap.js" type="text/javascript"></script>
    <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->
    <!-- CORE TEMPLATE JS - START -->
    <script src="~/Areas/Admin/assets/jsForView/BacSi/BacSi.js" type="text/javascript"></script>
    <!-- END CORE TEMPLATE JS - END -->
    <!-- Custom Js -->

}

